[submodule "uma-deep-fake-contracts"]
	path = uma-deep-fake-contracts
	url = https://github.com/lajosdeme/uma-deep-fake-contracts
[submodule "uma-deepfake-db"]
	path = uma-deepfake-db
	url = https://github.com/lajosdeme/uma-deepfake-db
[submodule "ai-image-dispute"]
	path = ai-image-dispute
	url = git@github.com:mgavillo/ai-image-dispute.git
